span.mejs-time-total {
    width: 90%;
}

span.mejs-time-loaded {
    width: 100% !important;
}

span.mejs-time-loaded {}

span.mejs-time-total {
    width: 90% !important;
}




span.mejs-time-total {
    margin-left: 37px;
    margin-top: 51px !important;
}

